.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.app-menu {
    width: 306px;
    height: 100vh;
    flex-shrink: 0;
    background-color: #001529;
}

.app-container {
    flex: 1;
    padding: 24px;
}

.w-btn {
    width: 100%;
    background-color: white;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-tracks: center;
    .ant-btn {
        height: 40px;
    }
}

.mb-15 {
    margin-bottom: 15px;
}

.common-width {
    width: 459px;
}

.list-class {
    width: 100%;
}

.icon1 {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.ant-table {
    width: 100%;
}

.site-page-header {
    background-color: white;
    z-index: 100;
}

.header {
    display: flex;
    background-color: white;
    box-shadow: 0 2px 8px #f0f1f2;
    justify-content: flex-end;

    position: relative;
    z-index: 1000;
}

.App-link {
    color: #61dafb;
}

.theme-color {
    color: #40a9ff;
    cursor: pointer;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ant-upload.ant-upload-drag {
    width: 659px;
    padding: 15px;
}

.ant-upload-list-item {
    height: 34px;
    cursor: pointer;
}

.ant-page-header {
    position: sticky;
    width: 100%;
    top: 0;
    margin-bottom: 40px;
    &.ant-page-header-ghost {
        background-color: white;
    }
}

.ant-layout {
  background-color: white;
}

.ant-layout-sider {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.ant-menu-item {
  height: 60px !important;
  line-height: 60px !important;
}

#components-layout-demo-top-side-2 {
    height: 100vh;
}

#components-layout-demo-top-side-2 .logo {
    float: left;
    width: 226px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.site-layout-background {
    background: #fff;
}

.app-header-icons {
    height: 64px;
    display: flex;
    align-items: center;
    .icon-class {
        margin-left: 10px;
        height: 64px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            color: #1890ff;
            background-color: #e6f7ff;
        }
        .anticon {
            width: 50px;
            padding: 0 10px;
            font-size: 18px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: 4px;
        }
    }
}
